$font-fam: "Montserrat",
sans-serif;
$h1: white;

$nav-bg: #333;
$nav-link: white;
$nav-hover: #555;
$nav-bar: white;
$nav-fz: 1.4em;

$banner-bg: #3498db;
$banner-color: white;
$banner-tag: rgba(255, 255, 255, 0.75);
$shadow: -0.5px 1px 2px #616164;
$bg-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
$input-hover: #eee;
$q-dark: #aaa9a9;
$q-light: rgba(255, 255, 255, 0.7);;
$info-border-dark: rgba(144, 144, 144, 0.25);
$info-border-light: rgba(255, 255, 255, 0.25);
$btn-active-dark: rgba(144, 144, 144, 0.2);
$btn-hover-dark:  rgba(144, 144, 144, 0.075);
$btn-active-light: rgba(255, 255, 255, 0.35);
$btn-hover-light:rgba(255, 255, 255, 0.25);

$data-color: #1abc9c;
$data-bg: white;
$light-color: white;

$training-color: #3498db;

$news-color: #9b59b6;
$community-color: #54567c;